@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

/* ESTILOS GENERALES */

body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0; 
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul{
    list-style: none;
    display: flex;
}

li a{
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 5px;
}

form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #97ce4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    
}

form input[type="submit"]:hover {
    background-color: #62941d;
}

/* BODY */

  /* Estilos para el div contenedor */
  .container {
    text-align: center;
    margin: 20px;
  }

  /* Estilos para la imagen */
 img {
    width: 150px; /* Ajusta el tamaño de acuerdo a tus necesidades */
    height: auto; /* Para mantener la proporción de la imagen */
    border-radius: 8px; /* Añade bordes redondeados */
    margin-bottom: 10px;
  }

  /* Estilos para el nombre del personaje */
  span {
    display: block; /* Hace que el span sea un elemento de bloque */
    margin-top: 5px; /* Ajusta el margen según sea necesario */
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Color del texto */
  }

