/* HEADER */
.close{
    color: black;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 6px;
    text-decoration: none;

}.new{
    color: black;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 6px;
    text-decoration: none;

}
.logo{
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
  }
  /*  */
  .bienvenida{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.bienvenida h3{
    font-weight: bold;
    margin-top: 40px;
}

/* Estilos para el formulario */
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada de texto */
.login input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Estilos para el botón de enviar */
.login input[type="submit"] {
    margin-top: 8px;;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para el botón de enviar al pasar el cursor sobre él */
.login input[type="submit"]:hover {
    background-color: #0056b3;
}

/* LIST */

/* Establecer un ancho máximo para el contenedor y centrarlo */
.list {
    max-width: 600px; /* Puedes ajustar el valor según tus preferencias */
    margin: 20px auto 0; /* Añadido margen superior de 20px */
  }
  
  /* Resetear estilos por defecto del navegador */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo para cada ítem de la lista */
  ul li {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    position: relative; /* Necesario para posicionar la papelera dentro del ítem */
  }
  
  /* Estilo cuando se pasa el ratón por encima del ítem */
  ul li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  /* Estilo para el enlace dentro del ítem */
  ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Estilo para el enlace cuando se pasa el ratón por encima */
  ul li a:hover {
    color: #0066cc;
  }
  
  /* Estilo para la imagen de la papelera */
  .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .delete-icon{
    width: 25px;
    height: 25px;
  }
  
  /* ERRORES */
.error{
  margin: 0 auto;
  font-weight: bold;
  color: rgba(209, 24, 24, 0.829);
  text-align: center;
  margin-bottom: 5px;
}
  