body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.container{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(245,245,245);
   
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: green
}