@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');
/* ESTILOS GENERALES */
body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;

}
h1,h2,h3,p{
    text-align: center;
}
.bienvenida{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.bienvenida h1{
    font-weight: bold;
    margin-top: 40px;
}

.bienvenida span{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para el formulario */
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

/* Estilos para los campos de entrada de texto */
.login input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Estilos para el botón de enviar */
.login input[type="submit"] {
    margin-top: 8px;;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para el botón de enviar al pasar el cursor sobre él */
.login input[type="submit"]:hover {
    background-color: #0056b3;
}
/*  */

/* FOOTER */
.footer{
    display: flex;
    text-align: center;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 0;
}
/* HEADER SI LOGUEADO*/
.userName{
    font-weight: bold;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 6px;
}

.close{
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 6px;
    text-decoration: none;

}.new{
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 6px;
    text-decoration: none;

}
.sidebar{
    height: 100%;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292b2c; /* Color de fondo de la barra lateral */
    padding: 20px;
    color: #fff; /* Color de texto */
    top: 63px; /* Altura del encabezado */
}

.sidebar h4 {
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar a {
    text-decoration: none;
    color: #fff; /* Color de enlaces en la barra lateral */
  }
  .logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
  }
  /* LOGIN */
  

  

  /* ERRORES */
.error{
    margin: 0 auto;
    font-weight: bold;
    color: rgba(209, 24, 24, 0.829);
    text-align: center;
    margin-bottom: 5px;
  }
